table, th, td {
    border: 1px solid rgba(0,0,0,0.12);
}
.empty-layout
{
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    height: 100vh;
    ms-flex-align: center;
    ms-flex-direction: column;
    padding-top: 5rem;
    webkit-align-items: center;
    webkit-flex-direction: column;
}
.auth-card
{
    width: 500px;
}
.auth-submit
{
    width: 100%;
    margin-bottom: 10px;
}
.helper-text.invalid
{
    color: #f44336;
}
.app-page
{

}
.logo{
    margin-right: 2rem;
}
.search_row{
    margin-right: 2rem;
}
.work_switch{
    margin: 0;
    padding-left: 2rem !important;
}
.app-main-layout
{
    min-height: 100vh;
    position: relative;
}
.app-sidenav
{
    bottom: 0!important;
    height: auto!important;
    padding-top: 5px;
    position: absolute;
    top: 64px;
    transition: transform .3s,-webkit-transform .3s;
    transition: transform .3s;
    width: 250px;
}
.app-sidenav.open
{
    transform: translateX(0);
    webkit-transform: translateX(0);
}
.navbar
{
    height: 64px!important;
    left: 0;
    padding: 0 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-wrapper
{
    justify-content: space-between;
    ms-flex-pack: justify;
    webkit-justify-content: space-between;
}
.nav-wrapper,.navbar-left
{
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    ms-flex-align: center;
    webkit-align-items: center;
}
.navbar-left>a
{
    margin-right: 1rem;
}
.app-content
{
    padding-left: 250px;
    padding-top: 64px;
    position: relative;
    transition: padding-left .3s;
}
.app-content.full
{
    padding-left: 0;
}
.page-title
{
    align-items: center;
    border-bottom: solid 1px rgba(51,51,51,.12);
    justify-content: space-between;
    ms-flex-align: center;
    ms-flex-pack: justify;
    padding-bottom: 1rem;
    webkit-align-items: center;
    webkit-justify-content: space-between;
}
.page-title a
{
    color: #000;
    opacity: .8;
}
.page-subtitle h4,.page-title h3,.page-title h4
{
    font-size: 2rem;
    margin: 0;
}
.page-subtitle h4,.page-title
{
    margin-bottom: 2rem;
    padding-bottom: 8px;
}
.app-loader,.currency-line,.page-title
{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.app-loader
{
    justify-content: center;
    ms-flex-pack: center;
    padding-top: 2rem;
    webkit-justify-content: center;
    width: 100%;
}
.currency-line
{
    align-items: center;
    border-bottom: 2px solid #fff;
    ms-flex-align: center;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    webkit-align-items: center;
}
.currency-line span
{
    font-size: 1.5rem;
}
.bill-card
{
    height: 310px;
}
.pointer
{
    cursor: pointer;
}
.form
{
    max-width: 500px;
}
.breadcrumb-wrap,.breadcrumb-wrap a,.breadcrumb-wrap a:before
{
    align-items: center;
    ms-flex-align: center;
    webkit-align-items: center;
}
.breadcrumb-wrap
{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: relative;
}
.breadcrumb-wrap a,.breadcrumb-wrap a:before
{
    color: rgba(0,0,0,.7)!important;
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
}
.history-chart
{
    margin: 0 auto;
    max-width: 600px;
}
.add_coloumn{
    padding: 10px;
}
.add_coloumn button{
    margin-left: 17px;
}
.page-title .active{
    background: #62d0c5;
    font-weight: 500;
}
.Delete_Category{
    display: none;
    margin-top: -5px;
    float: right;
    margin-right: -13px;
    color: #fff;
    font-size: 14pt;
}
.Delete_Category:hover{
    color: #f10000;
}
.Delete_Category:focus{
     color: #f10000;
 }
.Change_Category{
    display: none;
    margin-top: 0px;
    float: left;
    margin-left: -15px;
    color: #fff;
    position: absolute;
}
.Change_Category:hover{
    color: #f10000;
}
.Change_Category:focus{
    color: #f10000;
}
.work_menu:hover .Delete_Category{
    display:block;
}
.work_menu:hover .Change_Category{
    display:block;
}
.home_page{
    width: 50%;
}
.work_item{
    background: #fff;
    width: 100%;
    display: block;
}
.one-invuser{
    padding: 5px;
}
.one-invuser {
    color: #000000;
}
.one-invuser a {
    color: #008739;
    opacity: 0.9;
}
.one-invuser a:hover{
    opacity: 1;
}
.one-invuser h4{
    text-align: center;
    font-size: 18pt;
}
.one-invuser .row{
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}
.one-invuser a{
    float: right;
}
.change_rights h4{
    text-align: center;
    color: #000;
    font-size: 18pt;
}
.change_rights span{
    color: #000;
}
.change_rights .row{
    margin-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}
.stor_btn{
    margin-top: 5px;
    margin-left: 5px;
    height: 70px;
    text-align: center;
}
.add_categor{
    font-size: 52pt;
    color: #fff;
    padding: 12px;
    float: left;
}
.instorage .v--modal-overlay .v--modal-box {
    overflow: inherit!important;
}
.ag-header-group-cell-with-group {

}
.search{
    padding: 0px!important;
    margin: 0px!important;
    height: 35px!important;
}
.ag-theme-balham .ag-ltr .ag-cell {
    border-right: 1px solid #cac8c8;
}
.ui.search.dropdown .menu {
    max-height: 8.028571rem;
}
.v--modal-overlay .v--modal-box {
    max-height: 600px!important;
}
.page-subtitle h4, .page-title {
    margin-bottom: 1rem;
}
.cell-wrap-text {
    white-space: normal !important;
}
.cell-my-status {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.status_work .cell-my-status {
    background-color: #999999;
}
.status_think .cell-my-status {
    background-color: #85c6de;
}
.status_create .cell-my-status {
    background-color: #fede22;
}
.status_payday .cell-my-status {
    background-color: #bdae00;
}
.status_alrpay .cell-my-status {
    background-color: #a2c617;
}
.status_mailed .cell-my-status {
    background-color: #008739;
}
.status_back .cell-my-status {
    background-color: #e92919;
}
.status_cancel .cell-my-status {
    background-color: #000000;
}
.status_not .cell-my-status {
    background-color: #fff !important;
    color: #000;
}
.tablenone {
    display: none !important;
}
.final-price {
    float: right;
    padding: 5px;
    font-weight: bold;
}
.components li {
    margin-bottom: 10px;
}
.components .add-components {
    margin-top: 35px;
    font-weight: bold;
}
.choice_compstatus {
    text-align: center;
}
.choice_compstatus li a{
    width: 70%;
    margin-bottom: 10px;
}